.result_page{
    font-size: 10pt;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.result_page .result_page_content{
    width: 330px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result_page .result_page_content {
    -ms-overflow-style: none;
     scrollbar-width: none;
}

.result_page .result_page_content::-webkit-scrollbar {
    display: none;
}

.result_page .result_page_notifier{
    position: relative;
    font-family: "Eulyoo - SemiBold";
    font-size: 14pt;
    white-space: pre-wrap;
    padding: 50px 0 30px 0;
}

.result_page .result_page_notifier .result_page_notifier_message{
    z-index: 2;
}

.result_page .result_page_notifier .result_page_background{
    position: absolute;
    top: 70px;
    color: var(--main-red);
    font-family: "Eulyoo - SemiBold";
    font-size: 20pt;
    opacity: 0.4;
}

.result_page .result_page_drink_image{
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.result_page .result_page_drink_it_link_container{
    line-height: 1.7;
}


.result_page .result_page_main_content{
    font-family: "NanumBarunGothic - Light";
    font-size: 11pt;
    padding: 30px 10px 50px 10px;
    white-space: pre-line;
}


.result_page .result_page_recommend{
    width: 230px;
    font-size: 9pt;
    border: solid 2px var(--main-red);
    border-radius: 15px;
    margin: 20px;
}

.result_page .recommend_message{
    padding: 10px;
    font-family: "NanumSquare - Bold";
}

.result_page .recommend_space_drink{
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

.result_page .recommend_space_address{
    display: flex;
    justify-content: flex-start;
    color: var(--font-gray);
    padding: 0 0 0 5px;
}

.result_page .result_page_space_image{
    width: 150px;
    height: 150px;
    padding: 5px;
    object-fit: cover;
}

.result_page .result_page_news_letter,
.result_page .result_page_subscribe_link{
    font-family: "NanumBarunGothic - Light";
    display: flex;
    flex-direction: column;
}

.result_page .result_page_links{
    color: var(--main-red);
}


.result_page .result_page_share_button{
    color: #A4A2A2;
    font-size: 9pt;
    padding: 20px 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result_page .result_page_share_button > .kakao_icon{
    width: 20px;
    height: 20px;
    padding: 5px;
}

.result_page .column{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}