.result_page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.result_page .result_page_content{
    width: 400px;
    overflow: visible;
}

.result_page .result_page_content {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.result_page .result_page_content::-webkit-scrollbar {
    display: none;
}

.result_page .result_page_notifier{
    position: relative;
    font-family: "Eulyoo - SemiBold";
    font-size: 25pt;
    white-space: pre-wrap;
    padding: 50px 0 30px 0;
}

.result_page .result_page_notifier .result_page_notifier_message{
    z-index: 2;
}

.result_page .result_page_notifier .result_page_background{
    position: absolute;
    top: 70px;
    color: var(--main-red);
    font-family: "Eulyoo - SemiBold";
    font-size: 30pt;
    opacity: 0.4;
}

.result_page .result_page_drink_image{
    width: 350px;
    height: 200px;
}

.result_page .result_page_drink_it_link_container{
    line-height: 1.7;
}


.result_page .result_page_main_content{
    font-family: "NanumBarunGothic - Light";
    font-size: 15pt;
    padding: 30px 10px 50px 10px;
}


.result_page .result_page_recommend{
    min-height: 300px;
    font-size: 13pt;
    border: solid 2px var(--main-red);
    border-radius: 15px;
    margin: 20px;
}

.result_page .recommend_message{
    font-size: 15pt;
    padding: 10px;
}

.result_page .result_page_space_image{
    width: 300px;
    height: 200px;
    padding: 5px;
}


.result_page .result_page_news_letter,
.result_page .result_page_subscribe_link{
    font-family: "NanumBarunGothic - Light";
    display: flex;
    flex-direction: column;
}

.result_page .result_page_links{
    color: var(--main-red);
}

.result_page .result_page_share_button{
    color: #F9E000;
    padding: 20px 0 100px 0;
}